*{
    padding: 0rem;
    margin: 0rem;
    box-sizing: border-box;
    color: rgb(201, 201, 201);
    border: 1px solid red;
}
:any-link{
    text-decoration: none;
}
body{
    background-color: #1d1d1d;
    height: 99.2vh;
    position: relative;
}
.nav_button{
    width: 50px;
    height: 50px;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    font-size: 2rem;
    background-color: #1d1d1d00;
    position: absolute;
    right: 0rem;
    top: 0rem;
    cursor: pointer;
    z-index: 2;
}
nav{
    display: flex;
    flex-direction: column;
    height: 99.2vh;
    text-align: center;
    font-size: 1.1rem;
    justify-content: space-between;
    display: none;
}
.top{
    background-color: black;
    /* display: flex; */
    
}


.logo{
    width: 100%;
    
}
.logo a img{
    width: 150px;
    height: 150px;
}

ul{
    list-style: none;
}
li{
    padding: 1rem 0rem;
}
.contact{
    cursor: pointer;
}
main{
    margin-top: 10rem;
}
main div{
    margin: 0rem 5rem;
}
h1{
    font-size: 3rem;
}
p{
    font-size: 1.5rem;
}
button{
    padding: 1rem 2rem;
    border-radius:15rem ;
    background-color: #787575;
}


